/* -version 2.2 - Dionte 4/19/2019 */

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFACD;
    font-family: Arial;
    color: #CD5C5C;
    font-weight: bold;
}

.highlightRed {
    background-color: #FF0000;
}

.hide {
	display: none;
}

.reveal {
	display: block;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #B71C1C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #FFFFFF;
}

/* Center the selectGroup-box */
.selectGroup-box {
    text-align: center;
    margin-top: 50px;
}

/* Set up the input field */
.selectGroup-box input[type="text"] {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 10px #CD5C5C;
    
}

/* Set up the button */
.btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #000000;
    font-weight: bold;
    margin-bottom: 400px;
}

/* Hover over the button changes color */
.selectGroup-box input[type="submit"]:hover {
    cursor: pointer;
    background-color: #B22222;
    color: #FFFFFF;
}

/* Center the numOfActorsSelectionForm */
#numOfActorsSelectionForm {
    text-align: center;
}

/* Set up the input field */
#numOfActorsSelectionForm input[type="submit"] {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #CD5C5C;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 400px;
}

/* Change the color of the button when
   mouse is hovering */
#numOfActorsSelectionForm input[type="submit"]:hover {
    cursor: pointer;
    border: 2px solid #000000;
    color: #FFFFFF;
    background-color: #B71C1C;
}

/* Set up the back button */
#numOfActorsSelectionForm input[type="reset"] {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #CD5C5C;
    margin-top: 10px;
    font-weight: bold;
}

/* Change the color of the button when mouse is hovering */
#numOfActorsSelectionForm input[type="reset"]:hover {
    cursor: pointer;
    border: 2px solid #000000;
    color: #FFFFFF;
    background-color: #B71C1C;
}

/* Set up the dropdown list */
#numOfActors {
    width: 200px;
    height: 40px;
    border: 2px solid #CD5C5C;
    margin-top: 10px;
}

/* Set up the nameSection */
#nameSection {
    margin: 0px auto;
    width: 320px;
    height: 500px;
    background: rgba(0, 153, 204, 0.5);
    text-align: center;
    box-shadow: 5px 10px;
}

#nameSection h3 {
   text-decoration: underline;
    color: #000000;
    padding-top: 5px;
}

/* Set up the nameSection input fields */
#nameSection input[type="text"] {
    width: 200px;
    height: 15px;
    margin-bottom: 5px;
    padding: 5px;
}

/* Set up the nameSection button */
#nameSection input[type="submit"] {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #CD5C5C;
    font-weight: bold;
    margin-top: 20px;
}

/* Change the color of the button when hovering over it with your mouse */
#nameSection input[type="submit"]:hover {
    cursor: pointer;
    background-color: #7FFFD4;
}

/* Set up the nameSection back button */
#nameSection input[type="reset"] {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #CD5C5C;
    font-weight: bold;
    margin-top: 20px;
}

/* Change the color of the button when hovering over it with your mouse */
#nameSection input[type="reset"]:hover {
    cursor: pointer;
    background-color: #7FFFD4;
}

/* Set up the choreSelection */
#choreSelection {
    margin: 0px auto;
    text-align: center;
    background: rgba(0, 153, 204, 0.5);
    width:400px;
    height: 600px;
    box-shadow: 5px 10px;
}


#choreSelection h4 {
    text-decoration: underline;
    padding-top: 5px;
    color: #000000;
}

/* Set up a dotted border around the choreSelectionForm */
#choreSelectionForm select {
    width: 200px;
    border: 3px dotted #CD5C5C;
    margin-bottom: 10px;
}

/* Set up the width of the choreSelection input fields */
#choreSelection input[type="text"] {
    width: 150px;
}

.groupNameGoesHere {
    text-decoration: underline;
    color: #000000;
}

/* Set up choreOptionsSection */
#choreOptionsSection {
    padding: 5px;
    font-size: 16px;
}

#choreOptionsForms {
    margin-bottom: 10px;
}

/* Set up choreOptionsSubmit button */
#choreOptionsSubmit {
    height: 30px;
    border: 3px solid #CD5C5C;
    font-weight: bold;
}

#choreOptionsSubmit:hover {
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
}

/* Set up assignedChoresSection */
#assignedChoresSection {
    margin: 0px auto;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 25px;
    color: #000000;
    border: 4px solid #D81B60;
    width: 300px;
    box-shadow: 5px 10px #D81B60;
    padding: 10px;
}

/* Set up the back button */
#choreOptionsBack {
    height: 30px;
    border: 3px solid #CD5C5C;
    font-weight: bold;
}

#choreOptionsBack:hover {
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
}

/* Setup the emailInput textfield */
#emailInputForAssignedChoresListForm {
    background-color: #000000;
    color: #FFFF00;
}

/* Setup the emailForm submit button */
#emailForAssignedChoresListForm input[type="submit"] {
    border-radius: 20px;
    border: 2px solid #0000FF;
    cursor: pointer;
    background-color: #D3D3D3;
}

#emailForAssignedChoresListForm input[type="submit"]:hover {
    background-color: #000000;
    color: #90EE90;
}

/* Setup the back button */
#assignedChoresListBack {
    border: 2px solid #B22222;
    border-radius: 20px;
    cursor: pointer;
    background-color: #D3D3D3;
}

#assignedChoresListBack:hover {
    background-color: #000000;
    color: #FF0000;
}

/* social media icons and app icons */
.icons {
    font-size: 20px;
    color: #B71C1C;
}

/* socail link header */
#socialLinks h4 {
    padding-left: 5px;
}

/* social links list */
#socialLinks ul {
    list-style-type: none;
    margin-left: -40px;
}

#socialLinks li {
    float: left;
}

#socialLinks a {
    display: block;
    padding: 8px;
}

#socialLinks a:hover {
    cursor: pointer;
    background-color: #607D8B;
}

/* Setup the foooter */
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    
}

/* Float the app div to the right */
#app {
    float: right;
}

/* fix the app header to align with the social link header */
#app h4 {
    margin-top: -40px;
    margin-left: 35px;
}

/* Setup the app ul */
#app ul {
    list-style-type: none;
}

/* Float the app li to the right */
#app li {
    float: right;
}

#app a {
    display: block;
    padding: 8px;
}

#app a:hover {
    cursor: pointer;
    background-color: #607D8B;
}

@media screen and (max-width: 320px) and (min-height: 568px) {
    #footer {
        position: relative;
        top: 5px;
    }
    
    #navbar ul {
        width: 125%;
    }
}

@media screen and (max-width: 360px) and (min-height: 640px) {
    #footer {
        position: relative;
        top: 5px;
    }
}


@media screen and (max-width: 375px) and (min-height: 667px) {
    #footer {
        position: relative;
        top: 5px;
    }
    
    #navbar ul {
        width: 109%;
    }
}


@media screen and (max-width: 411px) and (min-height: 823px) {
    
    #socialLinks h4 {
        display: none;
    }
    
    #app h4 {
        display: none;
    }
    
}

@media screen and (max-width: 375px) and (min-height: 812px) {
    #footer {
        position: relative;
        top: 5px;
    }
}


@media screen and (max-width: 414px) and (min-height: 736px) {
    #footer {
        position: relative;
        top: 40px;
    }
    
    #socialLinks h4 {
        position: relative;
        top: -30px;
    }
    
    #socialLinks ul {
        position: relative;
        top: -50px;
    }
    
    #app h4 {
        position: relative;
        top: -30px;
    }
    
    #app ul {
        position: relative;
        top: -50px;
    }
}
