/* -version 2.2 - Dionte 4/19/2019 */

body {
    margin: 0px auto;
    background-color: #95A5A6;
}

/* Setup the logo */
.logo {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.logo img {
    border: 3px solid #000000;
}

.headerLogo {
    text-align: center;
    margin-top: 10px;
}

.headerLogo h1 {
    border: 1px solid;
    box-shadow: 5px 10px 15px #FFFFFF;
    width: 550px;
    margin:0px auto;
}

/* Set style for the navigation bar */
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: left;
    border-right: 1px solid #FFFFFF;
    height: 50px;
}

#nav-bar li:last-child {
    border-right: none;
}

#nav-bar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    background-color: #ADD8E6;
}

/* Setup the flexbox for the two links */
.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.flex-container > div {
    background-color: #FAFAD2;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 80px;
    border: 3px solid #000000;
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
}

.flex-container a {
    color: #2980B9;
    text-decoration: none;
}

.flex-container a:hover {
    color: #2980B9;
    text-decoration: underline;
    background-color: transparent;
}

.flex-container a:visited {
    color: #2980B9;
    background-color: transparent;
    text-decoration: none;
}

/* Icons next to the links */
.icon {
    color: #000000;
}

/* Setup the foooter */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
}

/* social media icons and app icons */
.icons {
    font-size: 20px;
    color: #FFFFFF;
}

/* socail link header */
#socialLinks h4 {
    padding-left: 50px;
}

/* social links list */
#socialLinks ul {
    list-style-type: none;
    
}

#socialLinks li {
    float: left;
}

#socialLinks a {
    display: block;
    padding: 8px;
}

#socialLinks a:hover {
    cursor: pointer;
}

/* Float the app div to the right */
#app {
    float: right;
}

/* fix the app header to align with the social link header */
#app h4 {
    margin-top: -40px;
    margin-left: 40px;
}

/* Setup the app ul */
#app ul {
    list-style-type: none;
    margin-right: 30px
}

/* Float the app li to the right */
#app li {
    float: right;
}

#app a {
    display: block;
    padding: 8px;
}

/* Updated the width of the nav-bar to fit when the screen
   size is 320px or less.
*/
@media screen and (max-width: 320px) {
    #nav-bar {
        width: 560px;
    }
}

/* Updated the width of the nav-bar to fit when the screen
   size is 375px or less.
*/
@media screen and (max-width: 375px) {
    #nav-bar {
        width: 560px;
    }
}

/* Updated the width of the nav-bar to fit when the screen
   size is 425px or less.
*/
@media screen and (max-width: 425px) {
    #nav-bar {
        width: 560px;
    }
    
}
